<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
        <activity
            android:name=".activity.ARCoreActivity"
            android:exported="false" />
        <!-- ARCore -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".activity.FileOperatorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NetNormalActivity"
            android:exported="false" />
        <activity
            android:name=".activity.KotlinBaseActivity"
            android:exported="false" />
    </application>

</manifest>