<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".activity.compose.MainComposeActivity"
            android:exported="false"
            android:label="@string/center_title_activity_main_compose"
            android:theme="@style/CenterTheme.MyApplication">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.CenterMainActivity"
            android:exported="false" />
    </application>

</manifest>